<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/images/favicon-16x16.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <title>AKACHAT</title>
  </head>
  <body>
    <script type="module" src="../main.js"></script>
    <%- body %>
    <div class="footer" id="bottonmsg"></div>
  </body>
</html>
